body{
    background-color: #1e1c2a ;
    font-family: 'Dancing Script', cursive;
    font-family: 'Prompt', sans-serif;}
.reh1{
    color: white;
    text-align: center;
    margin-top: -20px;
    font-size: 35px;}
.refff{
    width: 280px;
    height: 7px;
    background-color: #ff702a;
    border-radius: 12px;
    position: absolute;
    top: 17%;
    left: 25%;}
.remeddi{
    background-color: black;
    width: 560px;
    height: 680px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    margin-left: -280px;
    margin-top: 30px;}
.refn,.reem,.reph,.repa,.recp,.relo{
    position: absolute;
    width: 200px;
    height: auto;
    padding: 12px;
    border: 4px  #1e1c2a solid;
    border-radius: 60px;
    background-color: black;
    left: 29%;
    color: black;
}
.refn{
    top: 24%;}
.reem{
    top: 34%;}
.reph{
    top: 44%;}
.relo{
    top: 54%;}
.repa{
    top: 64%;}
.recp{
    top: 74%;}

.rebu{
    text-decoration: none;
    position: absolute;
    top: 85%;
    left: 29%;
    width: 230px;
    height: auto;
    padding: 16px;
    border: 4px  #ff702a solid;
    border-radius: 60px;
    background-color: #ff702a;
    color: white;
    font-size: 22px;
    font-weight: bold;}



